# Django settings
DEBUG=False
SECRET_KEY=2an7#bwvjs%1!-_@t8gn6)3nmu=1yfsf*#zjbo%fk_9who9amc
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=jota_news.settings

# Database settings
POSTGRES_DB=jota_news
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=postgres://postgres:postgres@db:5432/jota_news

# Redis settings
REDIS_URL=redis://redis:6379/0

# CORS settings
CORS_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
CORS_ALLOW_CREDENTIALS=True

# Media files
MEDIA_URL=/media/
MEDIA_ROOT=/app/media/

# Static files
STATIC_URL=/static/
STATIC_ROOT=/app/staticfiles/

# JWT settings
JWT_SECRET_KEY=SF2fYgxlGbyusbuRJ1DuV1ZS6bYvQDz0jXsFX5C6vB_k2BBCa93PcIWwR60qikPK-wCwP2mLLqdQBmsJqy-DVw
JWT_ACCESS_TOKEN_LIFETIME=5
JWT_REFRESH_TOKEN_LIFETIME=1

# Celery settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_ACCEPT_CONTENT=["json"]
CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json
CELERY_TIMEZONE=UTC

# Security settings
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_BROWSER_XSS_FILTER=True
SECURE_CONTENT_TYPE_NOSNIFF=True
X_FRAME_OPTIONS=DENY