SECRET_KEY=2an7#bwvjs%1!-_@t8gn6)3nmu=1yfsf*#zjbo%fk_9who9amc
JWT_SECRET_KEY=SF2fYgxlGbyusbuRJ1DuV1ZS6bYvQDz0jXsFX5C6vB_k2BBCa93PcIWwR60qikPK-wCwP2mLLqdQBmsJqy-DVw
ALLOWED_HOSTS=*
DEBUG=False
DJANGO_SETTINGS_MODULE=jota_news.settings
DATABASE_URL=postgres://postgres:postgres@db:5432/jota_news
REDIS_URL=redis://redis:6379/0